body {
  font-size: 1em;
  padding-left: 8px;;

  overflow: scroll;
}
h1 {
  font-size: 2em;
}

.error {
  background-color: #800;
  color: white;
  font-weight: bold;
}
.warning {
  background-color: #ff0;
}

fieldset {
  padding-right: 6px;
  margin-top: 2.5em;
  background-image:  linear-gradient(0deg, rgba(20,20,20,.3), rgba(255,255,255,.5), transparent 10px), 
                     linear-gradient(180deg, rgba(20,20,20,.3), transparent 10px);
  _border: none;
}
fieldset:first-child {
  margin-top: 1em;
}
fieldset > legend {
  padding: .2em .5em .2em .2em;
  margin-left: -14px;
  cursor: pointer;
  background-image: linear-gradient(rgba(40,40,40,.4), rgba(50,5,50,.2) 10%, rgba(50,50,50,.1));
  border: 1px solid #333;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  min-width: 25%;
}

fieldset.collapsed > * {
  display:none;
}
fieldset.collapsed > legend,
fieldset.collapsed > span.action-buttons {
  display: block;
}
fieldset > legend > span.collapse-button {
  display:inline-block;
  height: 15px;
  width:15px;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  vertical-align: bottom;
  text-decoration: unset;
}
fieldset > legend > span.collapse-button:before {
  content:"-";
  font-weight: bold;
  vertical-align:top;
  line-height: .5em;
  margin: 0 4px;
  cursor:pointer;
}
fieldset.collapsed > legend > span.collapse-button:before {
  content:"+";
  margin: 0 2px;
}
fieldset:not(.collapsed):has(> legend > span.collapse-button:hover) {
  background-color: var(--vscode-editor-selectionHighlightBackground);/*#e8e8e8;*/
  border-style: outset;
  box-shadow: 0 0 6px var(--vscode-editor-selectionHighlightBackground);/*black;*/
}

legend .description {
  font-style: italic;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  display:inline-block;
  vertical-align: bottom;
}
legend .description:before {
  content: ' - ';
}
legend .description:empty:before {
  content: ''
}




.unspecified-map table td {
  vertical-align: top;
}





.match-failed:before {
  content: "";
  background-color: red;
  border-width: 3px !important;
  display: inline-block;
  position: absolute;
  height: 100%;
  left: -8px;
  width: 5px;
}
.match-unmatched:before,
fieldset:has( .match-unmatched):before {
  content: "";
  border-right: 5px solid #fd0;
  display: inline-block;
  position: absolute;
  height: 100%;
  left: -8px;
  max-width: 3px;
}

fieldset.match-failed:before,
fieldset.match-unmatched:before,
fieldset:has(.match-unmatched):before {
  top: calc(-.8em - 4px);
  height: calc(100% + 1.1em + 4px);
}

.match-failed,
.match-unmatched,
fieldset:has(.match-unmatched) {
  position: relative;
}
.generic.match-unmatched .path {
  color: #800;
  font-weight: bold;
  margin-left: .6em; 
}
.match-valid {
  
}

fieldset label {
  min-width: 15%;
  display: inline-block;
}
fieldset input[type="text"],
fieldset textarea  {
  width: 70%;
}
fieldset > p span.description {
  background-color: #ffc;
  color: #440;
  border: 1px solid #880;
  margin: .2em 0 1em calc(15% + .5em);
  padding: .2em 1em;
  width: calc(70% - 1em);
  display:block;
  font-size: .7em;
}
fieldset input:focus, 
fieldset textarea:focus, 
fieldset select:focus {
  background-color: #ffc;
  padding: 2px;
  border: 3px solid white;
  border-radius: 2px;
  outline: 1px solid blue;
  box-shadow: 0 0 5px blue;

}

.search-filter {
  background-color: #aaa;
  margin: 0 0 .5em -1em;
  padding: 1em .5em;
}
.search-filter input {
  width: 30%;
}

fieldset.array.deletable>legend:after {
  content: unset;
}

fieldset.array.deletable>*,
fieldset.has-debug-info {
  position:relative;
}
fieldset.array>*>span.action-buttons,
fieldset.has-debug-info>span.action-buttons {
  position: absolute;
  top: -.7em;
  right: 1em;
}

span.action-buttons>button {
  padding: .1em 0;
  text-align: center;
  border: 1px solid #444;
  background-color: #888;
  border-radius: .2em;
  margin: 0 2px;
  width: 1.5em;
}
span.action-buttons>button.delete-button {
  background-color: #a44;
  color: white;
}
span.action-buttons>button.json-button {
  background-color: #4aa;
  color: white;
  font-family: monospace;
  font-weight: bold;
  z-index: 9;
}
span.action-buttons>button.up-button {
  background-color: #4a4;
  color: white;
}
span.action-buttons>button.down-button {
  background-color: #4a4;
  color: white;
}
span.action-buttons>button.move-button {
  background-color: #393;
  color: white;
}
span.action-buttons>button.addItem-button {
  width: initial;
  padding: .1em .5em;
}

.has-debug-info>div.debug-info-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: #ddd;
  margin: 0;
  padding: .0 0 .1em;
  z-index: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1.5em auto;
  grid-template-areas: 
    "schema-path json-path"
    "schema json-data";
  min-height: 7em;
}
:has(div.debug-info-overlay)>legend {
  z-index: 10;
  position: relative;
}
:has(>div.debug-info-overlay)>span.action-buttons {
  display:none;
}
:has(>div.debug-info-overlay) {
  min-height: 13em;
}
div.debug-info-overlay > pre {
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: bold;
  background-color: #ccf;
  border: 1px solid #88c;
  color: black;
}

div.debug-info-overlay > pre.jsonPath,
div.debug-info-overlay > pre.schemaPath { 
  background-color: blue;
  color: white;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}
div.debug-info-overlay > pre.schema,
div.debug-info-overlay > pre.jsonData { 
    overflow: auto;
}

div.debug-info-overlay > pre.schemaPath { grid-area: schema-path; }
div.debug-info-overlay > pre.schema { grid-area: schema; }
div.debug-info-overlay > pre.jsonPath { grid-area: json-path; }
div.debug-info-overlay > pre.jsonData { grid-area: json-data; }

div.debug-info-overlay > button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: .1em 0;
  text-align: center;
  border: 1px solid #a44;
  background-color: #f00;
  color: white;
  margin: 2px;
  width: 1.5em;  
  height: 1.5em;
  z-index: 1;
}