.view-group p {
  float: left;
  margin: .2em 0;
}
.view-group p:nth-child(2) {
  width: 30%;
}
.view-group p:nth-child(3) {
  width: 40%;
  margin-left: 3em;
}

.view-group p > label {
  margin-right: 1.5em;
  min-width: initial;
}
.view-group p input[type="text"] {
  margin-right: 2em;
}
.view-group span.radio-button {
  margin-right: 1em;
  white-space: nowrap;
}

.enum-array {
  display: inline-flex;
  flex-wrap: nowrap;
  vertical-align: top;
  margin: 1px;
  border-radius: 2px;
  padding: 4px;
  width: 100%;
}

.enum-array > label {
  flex-grow: 0;
  min-width: initial;
  margin-right: 2em;
}
.enum-array ul {
  display: block;
  column-count: 4;
  list-style: none;
  vertical-align: top;
  margin: 1px;
  border-radius: 2px;
  padding: 4px;
  width: 100%;
  flex-grow: 3;
}
.filter-list.enum-array ul {
  column-count: 3;
}

.enum-array:active,
.enum-array:has(input:active),
.enum-array:focus,
.enum-array:focus-within {
  background-color: #ffc;
  padding: 2px;
  border: 3px solid white;
  margin:0;
  border-radius: 2px;
  outline: 1px solid blue;
  box-shadow: 0 0 5px blue;  
}


.enum-array li {
  white-space: nowrap;
}

.page-content-component {
  _margin-top: 2em;
}
.page-content-component>legend span.description {
  color: black;
  font-weight: bold;
}
.component-panel,
.component-panel * {
  --background-color-h: 120;
  --background-color-l-delta: -2%;
}
.component-panel {
  margin-top: 1em;
}
.component-panel>legend {
  _background-color: #aff;
}
fieldset.content-source, 
fieldset.content-source fieldset  {
  _--background-color-h: 120;
  _--background-color-s: 50%;
  
  _margin-top: 1em;
  _background-color: #afc;
}
.content-source>legend {
  _background-color: #afc;
}

ul.link-label {
  list-style: none;
  padding-left: 0;
  width: 100%;
}
ul.link-label ul {
  padding-left: 1em;
}
li.link-label {
  width: 90%;
}
li.link-label li.link-label {
  width: calc(100% - 2em);
}
li.link-label > input.label {
  width: 20%;
}
li.link-label > input.link {
  width: 60%;
  margin-left: 2em;
}

.min-max-input label {
  min-width: initial;
  margin-right: 1em;  
}
.min-max-input input {
  width: 5em;
  margin-right: 2em;
}