.view-group p {
  float: left;
  margin: .2em 0;
}
.view-group p:nth-child(2) {
  width: 30%;
}
.view-group p:nth-child(3) {
  width: 40%;
  margin-left: 3em;
}

.view-group p > label {
  margin-right: 1.5em;
  min-width: initial;
}
.view-group p input[type="text"] {
  margin-right: 2em;
}
.view-group span.radio-button {
  margin-right: 1em;
  white-space: nowrap;
}

.article-type-list {
  display: inline-block;
  column-count: 4;
  overflow-y: auto;
  list-style: none;
  vertical-align: top;
  margin: 1px;
  border-radius: 2px;
  padding: 4px;
  width: 80%;
}

.article-type-list:active,
.article-type-list:has(input:active),
.article-type-list:focus,
.article-type-list:focus-within {
  background-color: #ffc;
  padding: 2px;
  border: 3px solid white;
  margin:0;
  border-radius: 2px;
  outline: 1px solid blue;
  box-shadow: 0 0 5px blue;  
}

.article-type-list li {
  white-space: nowrap;
}



.page-content-component {
  margin-top: 1em;
}
.component-panel {
  margin-top: 1em;
  background-color:#aff;
}
.component-panel>legend {
  background-color: #aff;
}
.content-source {
  margin-top: 1em;
  background-color: #afc;
}
.content-source>legend {
  background-color: #afc;
}